<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template-navbar"
>
<head>
    <meta charset="UTF-8">
    <title>Grocery List Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content1">
<!-- Display error message -->
    <div th:if="${errorMessage}" class="alert alert-danger">
    <p th:text="${errorMessage}"></p>
    </div>

<!-- Display success message -->
    <div th:if="${successMessage}" class="alert alert-success">
    <p th:text="${successMessage}"></p>
    </div>


<!-- form fields here -->

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <h1 class="card-header text-center">Create New User</h1>
                <div class="card-body">
                    <form th:action="@{/users/user/save}" th:object="${client}" method="POST">

                        <div class="form-group">
                            <label>Username</label>
                            <input
                                    type="text"
                                    name="clientName"
                                    th:value="${client.clientName}"
                                    class="form-control"
                                    placeholder="Enter Username">
                            <span class="text-danger" th:errors="${client.clientName}"></span>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input
                                type="email"
                                name="email"
                                th:value="${client.email}"
                                class="form-control"
                                placeholder="Enter Email">
                            <span class="text-danger" th:errors="${client.email}"></span>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input
                                    type="password"
                                    name="password"
                                    th:value="${client.password}"
                                    class="form-control"
                                    placeholder="Enter Password">
                            <span class="text-danger" th:errors="${client.password}"></span>
                        </div>

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>


    <!-- Display the created client DTO -->
    <div th:if="${createdClientDTO}" class="client-details text-center"> <!-- Add "text-center" class -->
        <h2>Created User Details</h2>
        <p><strong>Username:</strong> <span th:text="${createdClientDTO.clientName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${createdClientDTO.email}"></span></p>
    </div>
</div>
</body>
</html>
