<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template-navbar"
>
<head>
    <meta charset="UTF-8">
    <title>Grocery List Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <style>
        .main-table {
            width: 70%; /* Set the first table to take 70% of the center */
            margin: 0 auto; /* Center the table horizontally */
        }
    </style>
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2 ">
        <div class="row">
            <h1>List Details</h1>
            <a th:if="${#authorization.expression('hasRole(''USER'')')}"
               class="nav-link" th:href="@{/list/user/edit(id=${listDetails.id})}">
                <i class="bi bi-pen"></i>Edit This List
            </a>
        </div>
        <table class="table table-dark table-border">
            <thead class="table-dark">
            <tr>
                <th>List Name</th>
                <th>List Category</th>
                <th>Number Of Item</th>
                <th>Creation Date</th>
                <th>Client Owner</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="detail : ${listDetails}">
                <td th:text="${detail.name}"></td>
                <td th:text="${detail.category}"></td>
                <td th:text="${detail.numberOfItem}"></td>
                <td th:text="${detail.dateCreated}"></td>
                <td th:text="${detail.clientDTO.clientName}"></td>
            </tr>
            </tbody>
        </table>
        <!-- Column for Item Form -->
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-6">
                    <form th:action="@{/item/user/add}" th:object="${itemRequestDto}" method="POST">
                        <h2>Add New Item To This List</h2>
                        <input type="hidden" name="shoppingListId" th:value="${listDetails.id}">
                        <div class="row flex">
                            <div class="col-md-6">
                                <label for="itemName">Item Name</label>
                                <input type="text" class="form-control" id="itemName" name="name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="itemCategory">Item Category</label>
                                <select class="form-control" id="itemCategory" name="itemCategory" required>
                                    <option value="CUISINE">Cuisine</option>
                                    <option value="HEALTH">Health</option>
                                    <option value="CLEANING">Cleaning</option>
                                    <option value="CHILDREN">Children</option>
                                    <option value="FRUIT">Fruit</option>
                                    <option value="STUDY">Study Objects</option>
                                    <option value="OTHER">Other</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="itemQuantity">Quantity</label>
                                <input type="number" class="form-control" id="itemQuantity" name="quantity" required>
                            </div>
                            <input type="hidden" name="clientId" th:value="${listDetails.clientDTO.id}">
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Add Item</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Table of items -->

    <div class="container mt-2 ">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-dark table-border">
                    <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Item Category</th>
                        <th>Item Quantity</th>
                        <th>Item Date</th>
                    </tr>
                    </thead>
                    <tbody>
                                    <tr th:each="item : ${listDetails.items}">
                                        <td th:text="${item.name}"></td>
                                        <td th:text="${item.itemCategory}"></td>
                                        <td th:text="${item.quantity}"></td>
                                        <td th:text="${item.date}"></td>
                                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
<!--            <div class="row">-->
<!--                <div class="col-lg-3">-->
<!--                    <a th:href="@{/item/user/create}" class="btn btn-secondary">Add New Item To This List</a>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->
</div>
</tbody>

</table>
</div>
<div th:if="${listDetails == null}">
    <p>No details found for this list.</p>
</div>
</div>
</div>
</body>
</html>
